@model BoVoyage.WEB.Models.CustomerViewModel

@{
	ViewBag.Title = "Votre profil";
}

@section ContentBox{
	<div>
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Civility)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Civility)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.LastName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.LastName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.FirstName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.FirstName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Address)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Address)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.PhoneNumber)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.PhoneNumber)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.CreatedOn)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.CreatedOn)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BirthDate)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BirthDate)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
		</dl>
	</div>
	<p>
		@Html.ActionLink("Modifier votre profil", "Edit", new { id = Model.ID }) |
		@Html.ActionLink("Retour au menu principal", "Index", "Home")
	</p>
}