@{
	var salesManager = Session["SALESMANAGER"] as BoVoyage.WEB.Models.SalesManagerViewModel;
}

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>

	<title>BoVoyage BackOffice | @ViewBag.Title</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	@Styles.Render("~/Content/bootstrap")
	@Styles.Render("~/Content/bootstrap-theme")
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="~/Scripts/CookieBar.css" rel="stylesheet" />
	@Styles.Render("~/Content/site")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body class="w3-light-grey">

	<!-- Navigation Bar -->
	<div class="w3-bar w3-dark-grey w3-border-bottom w3-xlarge">
		<a href="@Url.Action("index", "dashboard", new { area="backoffice" })" class="w3-bar-item w3-button w3-text-red w3-hover-red"><b><i class="fa w3-margin-right"></i>Bo Voyages</b></a>

		<div class="w3-dropdown-hover">
			<a class="w3-bar-item w3-button" href="@Url.Action("index", "Dashboard")">Dashboard</a>
		</div>

		<div class="w3-dropdown-hover">
			<button class="w3-button">Gestion Voyages</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4">
				<a href="@Url.Action("index", "TravelAgencys")" class="w3-bar-item w3-button">Agences de voyage</a>
				<a href="@Url.Action("index", "Destinations")" class="w3-bar-item w3-button">Destinations</a>
				<a href="@Url.Action("index", "Travels")" class="w3-bar-item w3-button">Voyages</a>
			</div>
		</div>
		@*<div class="w3-dropdown-hover">
				<a class="w3-bar-item w3-button" href="#">Gestion Dossiers</a>
			</div>*@
		<div class="w3-dropdown-hover">
			<button class="w3-button">Gestion Assurances</button>
			<div class="w3-dropdown-content w3-bar-block w3-card-4">
				<a href="@Url.Action("index", "InsuranceTypes")" class="w3-bar-item w3-button">Types</a>
				<a href="@Url.Action("index", "Insurance")" class="w3-bar-item w3-button">Assurances</a>
			</div>
		</div>
		@*<a href="#" class="w3-bar-item w3-button">Marketing</a>
			<a href="#" class="w3-bar-item w3-button">RH</a>*@
		@if (salesManager != null)
		{
			@*<ul class="nav navbar-nav navbar-right" style="color:#ffffff">
					<li>
						<p class="navbar-text">Bonjour @salesManager.FirstName @salesManager.LastName</p>
					</li>
					<li>
						<a id="logout" href="@Url.Action("Logout", "authentication")"><i class="glyphicon glyphicon-log-out"></i></a>
					</li>
				</ul>*@

			<div class="w3-dropdown-hover">
				<button class="w3-button">Bonjour @salesManager.LastName</button>
				<div class="w3-dropdown-content w3-bar-block w3-card-4">
					@*<a href="@Url.Action("index", "TravelAgencys")" class="w3-bar-item w3-button">Profil</a>*@
					<a href="@Url.Action("Logout", "authentication")" class="w3-bar-item w3-button">Déconnexion <i class="glyphicon glyphicon-log-out"></i></a>
				</div>
			</div>

		}
	</div>

	<!-- Header supprimé -->
	<div class="w3-content" style="max-width:1100px;">
		@Html.Partial("_PartialDisplayMessage")
		@RenderBody()
	</div>

	<!-- Footer -->
	<footer class="w3-container w3-center w3-opacity w3-margin-bottom">
		<p>Powered by GTM | &copy; @DateTime.Now.Year</p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/Scripts/cldr.js"></script>
	<script src="~/Scripts/globalize.js"></script>
	<script src="~/Scripts/jquery.validate.globalize.js"></script>
	@RenderSection("Scripts", required: false)
</body>
</html>