@model IEnumerable<BoVoyage.WEB.Models.InsuranceTypeViewModel>

@{
	ViewBag.Title = "Liste des types d'assurance";
}

<h2>Liste des types d'assurance</h2>

<p>
	@Html.ActionLink("Créer un nouveau type d'assurance", "Create")
</p>
<table class="w3-table-all">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Type)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Type)
			</td>

			@if (item.Insurances.Count() > 0)
			{
				<td>
					@Html.ActionLink("Modifier", "Edit", new { id = item.ID }, new { @class = "btn btn-info disabled" }) |
					@Html.ActionLink("Supprimer", "Delete", new { id = item.ID }, new { @class = "btn btn-info disabled" })
				</td>
			}
			else
			{
				<td>
					@Html.ActionLink("Modifier", "Edit", new { id = item.ID }, new { @class = "btn btn-info" }) |
					@Html.ActionLink("Supprimer", "Delete", new { id = item.ID }, new { @class = "btn btn-info" })
				</td>
			}
		</tr>
	}
</table>