@model BoVoyage.WEB.Models.HomeIndexThreeSetsTravelsViewModel

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}


@section GoodOffers
{
	@if (Model.LessExpensiveTravels.Count() > 0)
	{
		<div class="w3-container w3-margin-top">
			<h3>Les 5 Voyages les moins chers du moment</h3>
			<h6>Un tarif <strong>imbattable</strong>.</h6>
		</div>

		<div class="w3-row-padding w3-text-white w3-large">

			<div class="w3-half w3-margin-bottom">
				<div class="w3-display-container" id="travel-@Model.LessExpensiveTravels.First().ID">
					<img src="~/Content/Images/cinqueterre.jpg" alt="Cinque Terre" style="width:100%">
					<span class="w3-display-bottomleft w3-padding w3-black">@Model.LessExpensiveTravels.First().Destination.City</span>
					<span class="w3-display-bottomright w3-padding w3-black">@string.Format("{0:C}", @Model.LessExpensiveTravels.First().PricePerPerson)</span>
				</div>
			</div>

			<div class="w3-half">

				<div class="w3-row-padding" style="margin:0 -16px">

					<div class="w3-half w3-margin-bottom">
						<div class="w3-display-container" id="travel-@Model.LessExpensiveTravels.ElementAt(1).ID">
							<img src="~/Content/Images/newyork2.jpg" alt="New York" style="width:100%">
							<span class="w3-display-bottomleft w3-padding w3-black">@Model.LessExpensiveTravels.ElementAt(1).Destination.City</span>
							<span class="w3-display-bottomright w3-padding w3-black">@string.Format("{0:C}", @Model.LessExpensiveTravels.ElementAt(1).PricePerPerson)</span>
						</div>
					</div>

					<div class="w3-half w3-margin-bottom">
						<div class="w3-display-container" id="travel-@Model.LessExpensiveTravels.ElementAt(2).ID">
							<img src="~/Content/Images/sanfran.jpg" alt="Sanfran" style="width:100%">
							<span class="w3-display-bottomleft w3-padding w3-black">@Model.LessExpensiveTravels.ElementAt(2).Destination.City</span>
							<span class="w3-display-bottomright w3-padding w3-black">@string.Format("{0:C}", @Model.LessExpensiveTravels.ElementAt(2).PricePerPerson)</span>
						</div>
					</div>
				</div>

				<div class="w3-row-padding" style="margin:0 -16px">

					<div class="w3-half w3-margin-bottom">

						<div class="w3-display-container" id="travel-@Model.LessExpensiveTravels.ElementAt(3).ID">
							<img src="~/Content/Images/pisa.jpg" alt="Pisa" style="width:100%">
							<span class="w3-display-bottomleft w3-padding w3-black">@Model.LessExpensiveTravels.ElementAt(3).Destination.City</span>
							<span class="w3-display-bottomright w3-padding w3-black">@string.Format("{0:C}", @Model.LessExpensiveTravels.ElementAt(3).PricePerPerson)</span>
						</div>
					</div>

					<div class="w3-half w3-margin-bottom">

						<div class="w3-display-container" id="travel-@Model.LessExpensiveTravels.ElementAt(4).ID">
							<img src="~/Content/Images/paris.jpg" alt="Paris" style="width:100%">
							<span class="w3-display-bottomleft w3-padding w3-black">@Model.LessExpensiveTravels.ElementAt(4).Destination.City</span>
							<span class="w3-display-bottomright w3-padding w3-black">@string.Format("{0:C}", @Model.LessExpensiveTravels.ElementAt(4).PricePerPerson)</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	}
}

@section SoonOffers
{
	@if (Model.SoonDepartureTravels.Count() > 0)
	{
		<div class="w3-container">
			<h3>Départ imminent</h3>
			<p>Envie de prendre l'air ?</p>
		</div>
		<div class="w3-row-padding">
			@foreach (var item in @Model.SoonDepartureTravels)
			{
				<div class="w3-half w3-margin-bottom" id="travel-@item.ID">
					<img src="~/Content/Images/ocean2.jpg" alt="@item.Destination.Country" style="width:100%">
					<div class="w3-container w3-white">
						<h3>@item.Destination.City, @item.Destination.Country</h3>
						<p class="w3-opacity">Aller-Retour à @string.Format("{0:C}", @item.PricePerPerson)</p>
						<p>@item.Destination.Description</p>
						<button class="w3-button w3-margin-bottom w3-black">Achat</button>
					</div>
				</div>
			}
		</div>
	}
}