@using BoVoyage.DAL.Entites;

@model IEnumerable<BoVoyage.DAL.Entites.Travel>
@{
    ViewBag.Title = "Index";
}

<h2>Liste des voyages des 15 prochains jours</h2>

<!-- Page content -->


@*table*@
<div class="w3-responsive">
    <table class="w3-table-all">
        <tr>
            <th> @Html.DisplayNameFor(model => model.Destination.City)</th>
            <th>@Html.DisplayNameFor(model => model.Destination.Country)</th>
            <th>@Html.DisplayNameFor(model => model.DepartureDate)</th>
            <th>@Html.DisplayNameFor(model => model.ReturnDate)</th>
            <th>@Html.DisplayNameFor(model => model.AvailablePlaces)</th>
            <th>@Html.DisplayNameFor(model => model.TravelAgency.Name)</th>
            
            
           
        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailablePlaces)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TravelAgency.Name)
            </td>
        </tr>
        }
        
    </table>
</div>





<!-- Explore Nature -->



<!-- End page content -->
<!-- Footer -->


<script>
    // Tabs
    function openLink(evt, linkName) {
        var i, x, tablinks;
        x = document.getElementsByClassName("myLink");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < x.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
        }
        document.getElementById(linkName).style.display = "block";
        evt.currentTarget.className += " w3-red";
    }
    // Click on the first tablink on load
    document.getElementsByClassName("tablink")[0].click();
</script>